// These file holds the variables in an array
$theme: (

    // List all component's variable array here

    // welcome variables
    app-welcome: (
        h1Color:white,
        h1BackColor: #c60c30
    )

    // ...

)